.item {
    background-color: beige;
    padding: 12px;
    display: flex;
    align-items: center;
}

.item > * {
    margin-right: 12px;
}

.comments {
    width: 40px;
}

.upvote {
    width: 30px;
}
.url {
    font-size: 12px;
    color:gray;
}

.author {
    color: black;
}

.time {
    font-size: 12px;
    color: gray;
    font-style: italic;
}

.arrowUp {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-bottom: 5px solid black;
  }